*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* animated background */
  background: linear-gradient(-45deg, rgb(9, 25, 47), #2a9d8f);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*////////////////////////////////////////////////////////
                            HEADER
////////////////////////////////////////////////////////*/

header {
  position: fixed;
  width: 100%;
}

.logo {
  height: 100px;
  margin-left: 1em;
  /* doesen't work */
  fill: black;
  stroke: black;
  /* //////////////*/
}

nav {
  transform: scale(1, 0); /* squeezes the height to 0% */
  transition: transform 400ms ease-in-out; /* animates the nav-text */
  transform-origin: top; /* starts animation on top */
}

nav li {
  margin: 1em 2em;
}

nav a {
  display: flex;
  justify-content: flex-end;
  color: rgb(232, 177, 113);
  opacity: 0; /* set default: opacity to 0% (hide) */
  transition: opacity 150ms ease-in-out; /* animates opening burger-effect */
}

nav a:hover {
  color: white;
}

/*/////////////////////// CHECKBOX /////////////////////////*/
.nav-toggle:checked ~ nav {
  /* if the checkbox is checked, it looks for nav is sibiling of nav-toggle */
  transform: scale(1, 1); /* toggles the nav-text and scales it to 100% */
}

.nav-toggle:checked ~ nav a {
  opacity: 1; /* if the checkbox is checked, the opacity of the nav-text is set to 100% */
  transition: opacity 250ms ease-in-out 250ms; /*sets a delay of 250ms before starting the close-animation of 250ms*/
}

.nav-toggle {
  display: none; /* hides the checkbox */
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100px;
  display: flex;
  align-items: center;
}

/* burger lines */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(232, 177, 113);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}


/*////////////////////////////////////////////////////////
                            MAIN 
////////////////////////////////////////////////////////*/

main {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 8fr minmax(150px, 1fr);
  grid-template-rows: minmax(800px, 1fr);
  height: 100vh; 
  /* position: relative; */
  align-items: center;
  justify-items: center;
}

.hero h1 {
  font-size: 1.5rem;
}

.hero h2 {
  font-size: 3em;
  color: rgb(232, 177, 113);
}

.hero h3 {
  font-size: 2.2em;
  font-family: "Roboto Mono", monospace;
  margin-top: 1em;
  margin-bottom: 2em;
}

.social-links {
  width: 1.5em;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  /* position: absolute;
  bottom: 10em; */
  gap: 2em;
  height: 200px;
  position: absolute;
  bottom: 100px;
}

.social-icon {
  stroke: rgb(232, 177, 113);
  transition: 150ms  ease-in-out ;
}

.social-icon:hover {
  stroke: white;
  /* transform: translate(0, -8px); */
  transform: scale(1.2);
}

.vert-line {
  background:  rgb(232, 177, 113);
  width: 2px;
  height: 300px;
  border-radius: 2px;;
  position: absolute;
  bottom: 0;
  margin-left: 40px;
}

/*//////////////// DISPLAY DESKTOP VERSION /////////////////////*/

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none; /* turns off burger label */
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 12fr);
  }

  .logo {
    grid-column: 1;
  }

  nav {
    all: unset; /* deletes all settings defined before */
    grid-column: 2 / -1;
    align-self: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin: 0 2em;
    top: 0em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  /* creates bars over nav-text */
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: RGB(232, 177, 113);
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    border-radius: 2px;
    transform: scale(0, 1); /* shirnks the width to 0% */
    transition: transform ease-in-out 250ms; /* animamtion time of 250ms*/
  }

  nav a:hover::before {
    transform: scale(1, 1); /* enlarge the width to 100% */
  }
}
