*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(9, 25, 47);
  color: white;
}

a {
  text-decoration: none;
  color: rgb(232, 177, 113);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo burger";
  align-items: center;
  border: red 5px solid;
}

nav ul {
    list-style-type: none;
  }

.logo {
  grid-area: logo;
}

.burger {
  grid-area: burger;
  justify-self: end;
  margin-right: 1em;
}

.burger, ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
}


